/*list of variables for the css*/
:root{
    --ff-style: "Bungee Shade", "Segoi UI", "sans-serif";
    --fs-normal: 1rem;
    --fs-bigger: 1.5rem;

    --fw-normal: 400;
    --fw-bolder: 700;

    --clr-white: #fff;
    --clr-gray: #8d8989;
    --clr-black: black;
    --clr-yellow: #fcb045;
    --clr-red: #fd1d1d;
    --clr-purple: #833ab4;
    --clr-blue: #0000ff;
    --clr-lightblue: #a4a4fc;
    --clr-lightpurple: #7575d4;


}
/**************************************************************************************************************************************************************************************************************************************************************************************/

/*NavBar Styling Classes and IDs*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff-style);
    scroll-behavior: smooth;
}


.navbar{
    background: var(--clr-gray);
    height: 6rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    top: 0;
    position: sticky;
    z-index: 999;
    
}
.navbar_wrapper{
    display: flex;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 1;
}
.navbar_menu_container{
    display: flex;
    align-items: center;
    list-style: none;   /*same as text-decoration: none;*/
}
.navbar_link{
    height: 6rem;
}
.navbar_link_item{
    color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 8rem;
    text-decoration: none; /*removes the underline from the link*/
    transition: all .3s ease;
}
.navbar_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
}
.navbar_link_button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    color: var(--clr-white);
    background: linear-gradient(to right, var(--clr-lightpurple), var(--clr-lightblue), var(--clr-blue));
    border-radius: 8px;
}
#navbar_logo{
    background: linear-gradient(to top, var(--clr-lightblue),var(--clr-lightpurple));
    background-size: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar_link_button:hover,.navbar_link_item:hover,#navbar_logo:hover{
    color: var(--clr-blue) ;
}
/*************************************************HERO SECTION STYLING***************************************************************************************************************/
.hero{
    background: var(--clr-black);
    padding: 100px 0px;
    background: linear-gradient(to top,gray 10%, var(--clr-gray), black);
}
.hero_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 85%;
    margin: 0 auto;
    padding: 2rem;

}
.hero_heading{
    color: var(--clr-lightblue);
    font-size: 4rem;

}
.hero_description{
    font-size: 2rem;
    background: var(--clr-lightpurple);
    background: linear-gradient(to bottom, var(--clr-purple), #da22ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.main_button{
    margin-top: 1.5rem;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 20px 60px;
    cursor: pointer;
    background: linear-gradient(to right, var(--clr-lightpurple), var(--clr-lightblue), var(--clr-blue));
   position: relative;
   transition: all .35s;
}
.main_button a{
    color: var(--clr-white);
    text-decoration: none;
    font-size: 1.8rem;
    z-index: 2;
    position: relative;
}
.main_button:hover{
    
}
.main_button:after{
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 8px;
    background:var(--clr-purple);
    transition:  all .35s;
    position: absolute;
    content: '';
}
.main_button:hover:after{
    width: 100%;

}
span{

}
/************************************************Services Section Styling***************************************************************************************************/
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 100px 0px;
    background: linear-gradient(to bottom,gray 10%, var(--clr-gray), black);

}
.services h1{
    font-size: 2.5rem;
    margin-bottom: 3rem;
    background: linear-gradient(to right, var(--clr-lightpurple), var(--clr-lightblue), var(--clr-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}
.services_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--clr-white);
    margin: 1rem;
    height: 20rem;
    width: 20rem;
    border-radius: 8px; /*0.5rem*/
    background-image: linear-gradient(to top, var(--clr-blue),var(--clr-lightblue));
    transition: 0.3s ease-in-out;
}

.services_card h2{
    text-align: center;
}
.services_card p{
    text-align: center;
    font-size: var(1.2rem);
    margin-top: 1rem;
}
.services_button{
    display: flex;
    margin: 1rem;
    justify-content: center;
}
.services_button button{
    color: var(--clr-white);
    background: var(--clr-blue);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: var(--fs-normal);
}
.services_card:hover{
    cursor: help;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
/*For repeated items (cards) - AKA nth Child */
.services_card:nth-child(2){
    /*fall back for old browsers - for example, Chrome <25*/
    background: lightblue;
    background: linear-gradient(to left, var(--clr-purple),var(--clr-lightpurple));
}
.services_card:nth-child(3){
    background: linear-gradient(to right, var(--clr-purple),var(--clr-lightpurple));

}












