.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: blueviolet;
}
.flex-container > div{
    background-color: blue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}